.coin-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.coin-row {
  padding-bottom: 5px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

.coin {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.coin img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.coin-name {
  color: white;
  text-align: left;
  width: 150px;
  margin-left: 30px;
}

.coin-symbol {
  text-transform: uppercase;
  color: white;
  width: 50px;
}

.coin-price {
  color: white;
  text-align: left;
  width: 100px;
}

.coin-price-change {
  width: 90px;
  text-align: left;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-market-cap {
  width: 150px;
  color: white;
  text-align: left;
}

.more-info-button {
  height: 30px;
  width: 100px;
  padding: 0px 10px 0px 10px;
  background-color: #3aafa9;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.more-info-button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

