body {
  background: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.header-container input {
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  height: 40px;
  width: 280px;
  background-color: #3aafa9;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

::placeholder {
  color: white;
  font-weight: 500;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container img {
  height: 45px;
  margin-left: 30px;
  cursor: pointer;
}

.button-container img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

.button-container img:active {
  transform: rotate(-180deg);
}

.coinlist-container {
  width: 100%;
}
